.carousel{
    width: 7.5rem;
    position: relative;
    left: 0;
    top:0;
    height: 5.2rem;
}
.carousel_imgs>a>img{
    width: 7.5rem;
    /*height: auto;*/
    height: 5.2rem;
}
.carousel_btns{
    position: absolute;
    bottom:.2rem;
    left: 0;
    width: 100%;
    height:auto;
    text-align: center;
    font-size: 0;
}
.carousel_btns>li{
    border: 1px solid #c2c2c2;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    font-size: 0;
    display: inline-block;
    margin-left:.08rem;
}
.carousel_active{
    background: red;
    border: 1px solid red !important;
}