.imgList{
  width:100%;
  height: auto;
  background: #fff;
  font-size: 0;
  &>li{
    width: 50%;
    display: inline-block;
    height: auto;
    margin:.4rem auto;
    text-align: center;
    &>img{
      width: 90%;
      height: auto;
    }
  }
}